*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display:flex;
    list-style:none;
}
.navbar ul li{
    font-size: 1rem;
}
.navbar ul li a{
    padding: 5px 20px;
     text-decoration:none;
    color: white; 
}
.navbar ul li a:hover{
    border-bottom: 6px solid #999;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
   
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/1.jpg') no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
   
   
}
.heading{
    color:black; 
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
    
   
    

}
 #home h1 {
        color: #fff;
} 

/*About Section */
 #about{
    display: flex;
    flex-direction: column;
    text-align: justify;
     height: 100%; 
    
  


}
#about h1{
    color: #fff; 
    margin: 0px;
    background-color: #000000dc;
  
    
}
#about h2{
    color: #fff; 

}
.about{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #000000dc;
}
.about img{
    width: 400px;
    height: 400px;
    padding: 0px 30px;

}

/*biography Section */
#Biography{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
    
}
#Biography h1{
    margin: 60px;
    color: #fff; 
    
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 300px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: #fff; 
    font-size: 3rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
} 
.columns img{
    width: 300px;
    height: 350px;
    padding: 0px 30px;

}
/* gallary Section */
#Gallary{
    display: flex;
    flex-direction: column;
}
 
#Gallery .heading {
    
    background-color: #000000dc;
    color: white;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #000000dc;
    
}
.gallery img{
    
    height: 320px;
    padding: 10px;
    margin: 10px;
}
.gallery img:hover{
    background-color:white;
    cursor: pointer;
}

/* contact */
#contact
{
     min-height: 50vh;
    background-color: #000000dc;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.container .contactinfo h2 {
    margin: 55px;
    color: #fff;
}
.container .contactinfo ul.info {
    position:relative;
}
.container .contactinfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px ;
    cursor: pointer;
    align-items:center;

}
.container .contactinfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}
.container .contactinfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}
.container .contactinfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px ;
    font-weight: 300;
    font-family:'Courier New', Courier, monospace;
}


/* footer */
.add {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color:#000000dc;
}
.add li a img {
    width: 40px;
    min-width: 40px;
    position: relative;
    display: flex;
    margin-right: 15px;
    margin-top: 10px;
   
   
}

